#include "resource.h"
IDDIALOG1 DIALOGEX 0,0,178,86
STYLE DS_SETFONT|DS_CONTROL|WS_VISIBLE|WS_SYSMENU
//EXSTYLE WS_EX_OVERLAPPEDWINDOW
//CAPTION "TEST"
//FONT 12,"Microsoft Sans Serif",400,0,0xCC
//BEGIN
//CTEXT "Test",IDC_STATIC,46,4,74,8,0,WS_EX_CLIENTEDGE
//END	

